<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488668203531-8309mhpe92e5krdt8i2eo02lk4135g3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488668203531-8309mhpe92e5krdt8i2eo02lk4135g3k</string>
	<key>API_KEY</key>
	<string>AIzaSyB3nR1TNb6VYv0edn2Hzj3ohsDHQv03BsE</string>
	<key>GCM_SENDER_ID</key>
	<string>488668203531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rayshop</string>
	<key>PROJECT_ID</key>
	<string>rayshop-7063a</string>
	<key>STORAGE_BUCKET</key>
	<string>rayshop-7063a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488668203531:ios:8faddf9886aa5bcacc950e</string>
</dict>
</plist>